@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@500;700&display=swap');

h1,
h2,
h3,
h4,
h5,
h5,
button,
a {
    font-family: montserrat, sans-serif;
}

p {
    font-family: hind, sans-serif;
}

.jumbotron {
    background-image: url("../img/home-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#logo {
    height: 75px;
    width: 175px;
}

.custom-toggler.navbar-toggler {
    border-color: #fafafa;
    border: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,250,250, 1)' stroke-width='4' stroke-linecap='none' stroke-miterlimit='10' d='M-4 8h40M-4 16h40M-4 24h40'/%3E%3C/svg%3E");
    width: 2rem;
}

.nav-link {
    color: #fafafa;
}

.active {
    font-weight: bold;
    color: #fafafa;
}

.hero-text {
    color: #fafafa;
    text-align: center;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    bottom: 50px;
    right: 0;

}

.down-arrow {
    bottom: 20px;
    left: calc(50% - 16px);
}

.resume {
    margin-bottom: 2rem;
    width: 140px;
    align-self: center;
}

.card {
    border: none;
    margin-bottom: 2rem;
}

.card-body {
    background-color: #F1F9FF;
}

.btn-primary {
    background-color: #0094C6;
    border: none;
    height: 2.875rem;
}

.row:nth-child(4) .col-12 {
    background-color: #0094C6;
    padding-right: 0;
}

.footer-nav .nav-link {
    margin-bottom: .5rem;
}

.social-media {
    background-color: #0094C6;
}

.icons {
    height: 31px;
    margin-bottom: .5rem;
}

.top-arrow {
    background-color: #040F16;
    width: 4.5rem;
    height: 100px;
    margin-right: 0;
}

/* About Page */
.bg-primary {
    background-color: #0094C6 !important;
}

.about-img {
    margin: 2rem 0rem 2rem;
}

.content {
    margin: 2rem 0rem 2rem;
}

.row:nth-child(3) .full-footer {
    background-color: #0094C6;
    padding-right: 0;
}

/* Contact */
.contact-form {
    margin: 4rem auto 4rem;
    padding: 2rem 1rem 2rem;
    border-radius: 20px;
    max-width: 812px;
}

.form-label {
    color: #fafafa;
    font-size: 1.5rem;
    font-weight: 700;
}

.contact-form button {
    background-color: #fafafa;
    color: #0094C6;
}

@media (min-width: 559px) {

    .hero-text {
        right: calc(50% - 274px);
    }
}

@media (min-width: 768px) {
    .footer {
        margin: auto;
    }

    .about-img {
        margin: 4rem 0rem 4rem;
    }

    .content {
        margin: 4rem 0rem 4rem;
    }
}

@media (max-width: 767px) {
    .footer {
        margin: auto;
    }

    .footer-nav .nav-link {
        display: none;
    }

    .icons:nth-child(2),
    .icons:nth-child(3) {
        margin-left: 3rem;
    }
}

@media (min-width: 1024px) {
    .jumbotron {
        background-position: 100% 100%;
    }

    .hero-text {
        bottom: 65%;
        right: 5%;
    }
}