@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light: #F2F2F2;
    --dark: #3C3B3A;
    --green: #26A682;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

img {
    height: auto;
    width: 100%;
}

.light-text {
    color: var(--light);
}

.dark-text {
    color: var(--dark);
}

.green-text {
    color: var(--green);
}

.light-bg {
    background-color: var(--light);
}

.dark-bg {
    background-color: var(--dark);
}

.green-bg {
    background-color: var(--green);
}

.btn-default {
    border: none;
    border-radius: 2.5rem;
    box-shadow: 0px 10px 20px -5px #124A3A;
    color: var(--light);
}

.discover-btn {
    font-size: 1.25rem;
    font-weight: 700;
    padding: .5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    align-self: flex-end;
}

.cta,
.submit {
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    padding: .5rem;
    margin: 1rem 0;
}

.heading-one {
    font-size: 2.5rem;
    font-weight: 700;
}

.discover-heading {
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 0;
}

.heading-three {
    font-size: 1.5rem;
    font-weight: 400;
    margin: .5rem 0 0;
}

.regular-text {
    font-size: 1.25rem;
    font-weight: 400;
}

.small-text {
    font-size: 1rem;
    font-weight: 300;
    line-height: 35px;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas:
        "header"
        "facilities"
        "school"
        "algonquin"
        "quote"
        "beer"
        "entertainment"
        "footer";
}

#header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem;
}

#logo {
    height: 91px;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.nav-items {
    list-style-type: none;
    text-align: center;
    padding-bottom: 1rem;
}

.nav-links {
    display: block;
    text-decoration: none;
}

.nav-links:hover,
.navlinks:active {
    font-size: 1.125rem;
    font-weight: 700;
}

.nav-links:link,
.nav-links:active {
    color: var(--light);
}

#facilities {
    grid-area: facilities;
    padding: 0rem 2rem;
}

#facility-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fac-icons {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.facility-icon {
    align-self: center;
    width: 2.5rem;
    height: 2.5rem;
}

#books {
    margin-top: 1rem;
}

#scroll {
    display: none;
}

#school {
    grid-area: school;
}

.discover {
    display: flex;
    flex-direction: column;
}

#algonquin {
    grid-area: algonquin;
    padding: 0rem 2rem;
}

#quote {
    grid-area: quote;
    padding: 0rem 2rem;
}

#entertainment {
    grid-area: entertainment;
    padding: 0rem 2rem;
}

#beer {
    grid-area: beer;
}

#footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
}

#social-options {
    display: flex;
    justify-content: center;
}

.social-icon {
    width: 25px;
    height: 25px;
}

#top-arrow {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#top-arrow a {
    width: 22px;
    height: 22px;
    align-self: center;
}

#top-arrow p {
    font-size: .5rem;
    width: 48px;
}